if SHIELD_KRUSE36_LEFT

config ZMK_KEYBOARD_NAME
    default "Kruse36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KRUSE36_LEFT || SHIELD_KRUSE36_RIGHT

config ZMK_SPLIT
    default y

endif
